[submodule "circt"]
	path = circt
	url = https://github.com/davine47/circt.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
[submodule "sims/riscv-isa-sim"]
	path = sims/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
[submodule "tests/riscv-tests"]
	path = tests/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "tools/riscv-opcodes"]
	path = tools/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "tests/riscv-dv"]
	path = tests/riscv-dv
	url = https://github.com/davine47/riscv-dv.git
[submodule "targets/changbai"]
	path = targets/changbai
	url = https://github.com/davine47/changbai.git
[submodule "targets/XiangShan"]
	path = targets/XiangShan
	url = https://github.com/OpenXiangShan/XiangShan.git
[submodule "targets/boom"]
	path = targets/boom
	url = https://github.com/riscv-boom/riscv-boom.git
[submodule "tests/riscv-vector-tests"]
	path = tests/riscv-vector-tests
	url = https://github.com/davine47/riscv-vector-tests.git
[submodule "fe/verilator"]
	path = fe/verilator
	url = http://git.veripool.org/git/verilator
[submodule "targets/VexiiRiscv"]
	path = targets/VexiiRiscv
	url = https://github.com/SpinalHDL/VexiiRiscv.git
[submodule "arch/opensbi"]
	path = arch/opensbi
	url = https://github.com/riscv-software-src/opensbi.git
[submodule "tests/riscv-hs-tests"]
	path = tests/riscv-hs-tests
	url = https://github.com/davine47/riscv-hs-tests.git
