[submodule "changbai"]
	path = changbai
	url = https://github.com/davine47/changbai.git
[submodule "circt"]
	path = circt
	url = https://github.com/davine47/circt.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
