[submodule "circt"]
	path = circt
	url = https://github.com/davine47/circt.git
[submodule "riscv-gnu-toolchain"]
	path = riscv-gnu-toolchain
	url = https://github.com/riscv-collab/riscv-gnu-toolchain.git
[submodule "sims/riscv-isa-sim"]
	path = sims/riscv-isa-sim
	url = https://github.com/riscv-software-src/riscv-isa-sim.git
[submodule "tests/riscv-tests"]
	path = tests/riscv-tests
	url = https://github.com/riscv-software-src/riscv-tests.git
[submodule "tools/riscv-opcodes"]
	path = tools/riscv-opcodes
	url = https://github.com/riscv/riscv-opcodes.git
[submodule "targets/spinalhdl/changbai"]
	path = targets/spinalhdl/changbai
	url = https://github.com/davine47/changbai.git
[submodule "targets/chisel/rocket-chip"]
	path = targets/chisel/rocket-chip
	url = https://github.com/chipsalliance/rocket-chip.git
[submodule "tests/riscv-dv"]
	path = tests/riscv-dv
	url = https://github.com/davine47/riscv-dv.git
[submodule "targets/spinalhdl/VexiiRiscv"]
	path = targets/spinalhdl/VexiiRiscv
	url = https://github.com/davine47/VexiiRiscv.git
